@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --section-color-100: #EBD9B4;
    --section-color-75: rgba(235, 217, 180, 0.75);
    --section-color-50: rgba(235, 217, 180, 0.5);
    --section-color-25: rgba(235, 217, 180, 0.25);
    --menu-color-100: #9DBC98;
    --menu-color-75: rgba(157, 188, 152, 0.75);
    --menu-color-50: rgba(157, 188, 152, 0.5);
    --menu-color-25: rgba(157, 188, 152, 0.25);
    --navbar-color-100: #638889;
    --navbar-color-75: rgba(99, 136, 137, 0.75);
    --navbar-color-50: rgba(99, 136, 137, 0.5);
    --navbar-color-25: rgba(99, 136, 137, 0.25);
    --text-color-100: #1E494A;
    --text-color-75: rgba(30, 73, 74, 0.75);
    --text-color-50: rgba(30, 73, 74, 0.5);
    --text-color-25: rgba(30, 73, 74, 0.25);
    --background-color-100: rgba(249, 239, 219, 1);
    --background-color-75: rgba(249, 239, 219, 0.75);
    --background-color-50: rgba(249, 239, 219, 0.50);
    --background-color-25: rgba(249, 239, 219, 0.25);

   
    --h1: 2.5rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.25rem;
    --h6: 1rem;

    --sub: 1.25rem;
    --label: 1rem;
    --ls: 0.25rem;
    --body: 0.875rem;
    --font-all: 'Roboto', sans-serif;
    --font-header: 'PT Serif', serif;
}

/**
* removing default styles of the browser
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--background-color-100);
}

/**
* style rules for buttons
**/

.white-btn, 
.dark-btn, input {
    color: var(--text-color-100);
    background-color: var(--section-color-100);
    cursor: pointer;
    font-size: var(--h5);
    font-family: var(--font-header);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
}
.dark-btn{
    color: var(--background-color-100);
    background-color: var(--text-color-100);
}


.hero{
    background-color: var(--menu-color-100);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }

  .content {
    padding: 16px;
  }

  .sticky + .content {
    padding-top: 102px;
  }

/**
* style  rules for header
**/

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    z-index: 1;
}

.header__menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.header__icons{
    display: none;
}

.header__icons i{
    cursor: pointer;
    font-size: var(--h2);
    color: var(--text-color-100);
}

/**
* style  rules for sidebar menu
**/

.menu_sidebar{
    z-index: 1;
    background-color: var(--menu-color-100);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    row-gap: 2rem;
    padding: 2rem 1rem;
    width: 14rem;
    margin-top: 6.25rem;
    height:100%;
    position:fixed;
    z-index: 1;
    overflow: auto;
}

.bar-block{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    border-right:1px solid #ccc
}

.h2{
    font-size: var(--h2);
    font-family: var(--font-header);
}

a{
    text-decoration: none;
    font-size: var(--label);
    color: var(--text-color-100);
    
}

li{
    list-style-type: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;

}

.menu_sidebar--socialMediaIcons{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}

/**
* style  rules for common classes
**/

.text-center{
    text-align: center;
}

.container{
    max-width: 1140px;
    margin: auto;
    align-items: center;
}


.responsive-image{
    max-width: 100%;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
    gap: 2rem;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flex-left{
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 1rem;
}

.section-icon{
    background-color: var(--section-color-50);
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;

}

@media(max-width: 1200px){
    .container{
    max-width: 970px;   
}

}

@media(max-width: 1024px){
    .container{
    max-width: 740px;   
}
    h1{
        font-size: var(--h4);
    }
}

@media(max-width: 768px){
    .container{
    max-width: 500px;   
    }
    .header__menu{
        z-index: -1;
        background-color: var(--menu-color-100);
        position: absolute;
        top: 10vh;
        width: 100%;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .menu_sidebar{
        z-index: -1;
        display: none;
    }

    .header__menu--textUp{
        margin-top: -200px;
    }

    .header__icons{
        display: block;
    }

    .hide{
        display: none;
    }

    .hidden{
        z-index: -1;
        opacity: 0%;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .new-aricles-section__sections{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .footer{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem;
    }
}

@media(max-width: 568px){
    .container{
    max-width: 90%;   
}
.footer{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem;
}
}
/**
* style  rules for footer
**/

.footer{
    background-color: var(--menu-color-100);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;

}
.footer-item{
    margin: 2rem;
}

/**
* style rules for labels in nav and footer
**/

.label, nav{
    font-family: var(--font-header);
    font-size: var(--label);
    color: var(--text-color-100);
    font-weight: 700;
}
.nav:hover{
    text-decoration-line: underline;
}

/**
* style  rules for sections (articles)
**/
.div_article_section{
    position: relative;
    background-color: var(--section-color-50);

}

.new_aricles_section{
    margin: 2rem;
}

.new-aricles-section__sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* [class^="new-aricles-section__sections--"]{
    
} */

.image-in-sections{
    height: 18rem;
    width: 16rem;
    border-radius: 1rem;
    object-fit: cover;
    /* position: absolute; */
}

.new-aricles-section__sections section{
    justify-self: left;
    align-self: left;
}
.text-in-section{
    justify-self: left;
    align-self: left;
}
.label-for-guides{
    text-align: center;
    justify-self: center;
}


[class^="our_guides_section__title--"]{
    justify-self: center;
    align-self: center;
    
}

