/**
* style rules for greeting section
**/
.greeting_section{
    background-image: url(/images/danielle-trielli-lkRIzxm6AZA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 77rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.greeting_section__background{
    margin: 25rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100%);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    border-radius: 1rem;
    width: 48rem;
    /* height: 14rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting_section__background--h1{
    font-size: var(--h1);
    font-family: var(--font-header);
    color: aliceblue;
    margin-bottom: 1rem;
}
.greeting_section__background--p{
    font-size: var(--label);
    font-family: var(--font-all);
    color: aliceblue;
}
.our_guides_section__title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}
[class^="our_guides--"]{
    background-color: var(--section-color-75);
    height: 18rem;
    width: 16rem;
    border-radius: 1rem;
}
.our_guides_section__guides{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
}