

*{
    margin: 0;
    padding: 0;
}
html{
    display: grid;
    grid-column: auto;
    grid-row: auto;
    background-color: #F9EFDB;
}

header{
    background-color: #9DBC98;
}

#logo_image{
    margin-left: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#tekst_up{
    grid-column-start: 8;
}

